<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>YooHoo</title>
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 400 400">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: red;
                                }

                                .cls-2 {
                                    fill: #fff;
                                }

                                .cls-3 {
                                    fill: #e6e6e6;
                                }
                            </style>
                        </defs>
                        <g id="BG">
                            <circle class="cls-1" cx="200" cy="200" r="200" />
                        </g>
                        <g id="Logo">
                            <path class="cls-2"
                                d="M98.31,110.71A20,20,0,0,1,114.52,79h130.4v.39s29,2.91,29,28c0,19.4-24.28,71.17-30.47,84a0,0,0,0,1,0,0l-6.4,8.9a39.87,39.87,0,0,0-7.58,23.39V332.49a20,20,0,0,1-20,20H190.53a20,20,0,0,1-20-20V223.75A39.87,39.87,0,0,0,163,200.36Z" />
                            <path class="cls-3"
                                d="M244.92,79h40.56a20,20,0,0,1,16.21,31.71l-58.23,80.73c6.19-12.86,30.47-64.63,30.47-84,0-25.11-29-28-29-28Z" />
                        </g>
                    </svg>
                    <strong class="pl-2">Home</strong>
                </a>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1>YooHoo</h1>
                <p class="lead text-muted">A Discord bot which saves posted YouTube videos to playlists</p>
            </div>

            <a href="https://discordapp.com/oauth2/authorize?client_id=696815267250044998&permissions=85056&scope=bot"
                target="_blank" rel="noopener noreferrer" class="btn btn-primary my-2">Invite YooHoo to your server</a>
            <a href="https://discord.gg/g9BKJR2" target="_blank" rel="noopener noreferrer"
                class="btn btn-secondary my-2">Join the support server</a>
        </section>

        <div class="container">
            <table class="table table-dark table-hover">
                <thead class="thead-dark">
                    <th scope="col">Command</th>
                    <th scope="col">Description</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-monospace text-info">yh help</td>
                        <td>Get help with bot commands</td>
                    </tr>
                    <tr>
                        <td class="text-monospace text-info">yh invite</td>
                        <td>Get a link to invite YooHoo to your server</td>
                    </tr>
                    <tr>
                        <td class="text-monospace text-info">
                            yh register (all) &lt;playlist id&gt;
                        </td>
                        <td>Save videos from the current channel to a playlist</td>
                    </tr>
                    <tr>
                        <td class="text-monospace text-info">yh deregister &lt;playlist id&gt;</td>
                        <td>Stop saving videos from the current channel</td>
                    </tr>
                </tbody>
            </table>

            <div class="embed-responsive mb-4 embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nr4XYvegWCI" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

    </main>
</body>

</html>