<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <title>Privacy Policy</title>
</head>

<body>
  <header>

    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 400 400">
            <defs>
              <style>
                .cls-1 {
                  fill: red;
                }

                .cls-2 {
                  fill: #fff;
                }

                .cls-3 {
                  fill: #e6e6e6;
                }
              </style>
            </defs>
            <g id="BG">
              <circle class="cls-1" cx="200" cy="200" r="200" />
            </g>
            <g id="Logo">
              <path class="cls-2"
                d="M98.31,110.71A20,20,0,0,1,114.52,79h130.4v.39s29,2.91,29,28c0,19.4-24.28,71.17-30.47,84a0,0,0,0,1,0,0l-6.4,8.9a39.87,39.87,0,0,0-7.58,23.39V332.49a20,20,0,0,1-20,20H190.53a20,20,0,0,1-20-20V223.75A39.87,39.87,0,0,0,163,200.36Z" />
              <path class="cls-3"
                d="M244.92,79h40.56a20,20,0,0,1,16.21,31.71l-58.23,80.73c6.19-12.86,30.47-64.63,30.47-84,0-25.11-29-28-29-28Z" />
            </g>
          </svg>
          <strong class="pl-2">Privacy Policy</strong>
        </a>
        <button class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container d-flex justify-content-end pt-3">
        <ul class="list-unstyled text-right">
          <li><a href="https://discordapp.com/oauth2/authorize?client_id=696815267250044998&permissions=85056&scope=bot"
              target="_blank" rel="noopener noreferrer" target="_blank" rel="noopener noreferrer"
              class="text-white">Invite YooHoo</a></li>
          <li><a href="https://discord.gg/g9BKJR2" target="_blank" rel="noopener noreferrer" class="text-white">Support
              Server</a></li>
          <li><a href="https://github.com/Th3Gavst3r/YooHoo" target="_blank" rel="noopener noreferrer"
              class="text-white">GitHub Repo</a></li>
          <li><a href="/privacy" class="text-white">Privacy Policy</a></li>
        </ul>
      </div>
    </div>

  </header>

  <main role="main">

    <div class="container py-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">What information is collected</h5>
          <p class="card-text">
            YouTube access tokens and playlist IDs are stored indefinitely until the user issues a
            deregistration.
          </p>
          <p class="card-text">
            Discord user and channel identifiers are stored indefinitely until the user issues a
            deregistration.
          </p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">How information is used</h5>
          <p class="card-text">
            YouTube account and playlist information is used solely to update playlist contents according to
            the user's YooHoo registration.
          </p>
          <p class="card-text">
            Discord user identifiers are used to authorize interactions with YooHoo and to issue important
            notifications to users.
          </p>
          <p class="card-text">
            Discord channel identifiers are used to associate posted videos with a playlist registration.
          </p>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">How information is shared</h5>
          <p class="card-text">
            YooHoo does not share any of your information with any outside actors.
          </p>
        </div>
      </div>
    </div>

  </main>
</body>

</html>